extends layout

block content
    div.container.jumbotron(style='text-align:center;margin-top:50px;')
        h2(style='color:orangered') Oregon State University
        br
        br
        a.h4(href='./tweet' style='color:green;') Proceed to Mongoose Seminar Exercise